* {
    box-sizing: border-box;
}

body {
    /* background-color: rgba(155, 89, 182, 0.7); */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.background {
    background: url('pexels-pixabay-39584.jpg')no-repeat center center/cover;
    position: absolute;
    top: -20px;
    bottom: -20px;
    left: -20px;
    right: -20px;
    z-index: -1;
    filter: blur(20px)
}