body {
    padding: 0;
    margin: 0;
    font-family: regular;
    box-sizing: border-box;
}

@font-face {
    font-family: tt-regular;
    src: url('Font/TTNorms-Regular.woff2');
}

@font-face {
    font-family: tt-medium;
    src: url('Font/TTNorms-Medium.woff2');
}

@font-face {
    font-family: tt-bold;
    src: url('Font/TTNorms-Bold.woff2');
}

.banner {
    background: url('Assets/banner.avif');
    height: 550px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.menu-btn {
    /* background: rgb(235, 23, 0); */
    box-shadow: transparent 0px 0px 0px 1px inset;
    color: rgb(255, 255, 255);
    height: 32px;
    width: auto;
    border-radius: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: tt-bold;
    font-size: 16px;
}

.menu-btn span {
    padding: 0px 12px;
}

.sign-in {
    background: rgb(235, 23, 0);

}

.sign-up {
    color: rgb(73, 73, 73);
    background: #ffff;
}

.menu {
    margin-top: 16px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.menu-itm {
    display: flex;
    justify-content: flex-end;
    padding-right: 24px;
    gap: 8px;
    font-weight: 700;
    line-height: 22px;
    /* letter-spacing: -0.04ch; */
}


.menu-itm span {
    padding: 0px 12px;
    letter-spacing: -0.04ch;
}

.banner-txt {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-top: 20px;
    margin-bottom: 20px;
}

.slogan {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.heading h1 {
    font-size: 22px;
    color: #fff;
    margin-bottom: 24px;
    margin: 0;
    padding: 0;
    font-family: tt-bold;
}

.heading {
    max-width: 350px;
    letter-spacing: 0px;
    line-height: 28px;
    margin-bottom: 20px;
}

.address {
    display: flex;
    min-height: 40px;
    padding: 4px;
    box-sizing: border-box;

}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img:nth-child(2) {
    margin-left: 8px;
}

.search-container {
    box-shadow: rgb(214, 214, 214) 0px 0px 0px 1px inset;
    background-color: rgb(255, 255, 255);
    padding: 12px 16px 12px 16px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0ch;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 292px;
    border-radius: 24px;
}

.arrow {
    margin-right: -4px;
}

.search-icon {
    margin-right: 10px;
}

.input-cont {
    flex-grow: 1;
    margin: 0 12px 0 auto;
    display: inline-block;
    font-family: tt-bold;
    /* color: rgb(25, 25, 25) */
}

input {
    border: none;
    font-size: 16px;
    width: 100%;
    height: 100%;
    color: #191919;
    font-family: tt-medium;
}

.text-btn {
    padding: 0px 12px;
    letter-spacing: -0.04ch;
    /* color: #191919; */
    font-size: 14px;
    font-family: tt-medium;
}

.btn-text {
    box-shadow: transparent 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.2) 0px 2px 8px;
    color: rgb(25, 25, 25);
}

.btn-text img {
    width: 16px;
    height: 16px
}

.signin {
    color: #191919;
    font-size: 14px;
    display: flex;
    align-items: center;
    /* margin-top: 16px; */
}

.signin img {
    margin-right: 4px;
}

.btn-text {
    margin-top: 12px;
}

.get-app {
    margin: 20px 20px auto
}

.items {
    border-radius: 16px;
    border: 1px solid rgb(231, 231, 231);
    background-color: rgb(247, 247, 247);
    padding: 20px;
    display: flex;
}

.doordash-logo {
    width: 42px;
    height: 42px;
    border-radius: 16px;
    border: 1px solid rgb(231, 231, 231);
    background: #fff;
    margin-right: 8px;
    padding: 8px;
}

.getapp {
    box-sizing: border-box;
}

.appname {
    font-size: 18px;
    font-family: tt-bold;
    font-weight: 700;
    letter-spacing: -0.04ch;
    color: rgb(25, 25, 25);
    line-height: 22px;
    margin-bottom: 4px;
    display: block;

}

.products {
    font-size: 14px;
    color: rgb(118, 118, 118);
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 22px;
    margin-bottom: 8px;
    display: block;
    font-family: tt-medium;
}

.btn {
    color: #fff;
    border-radius: 24px;
    border: none;
    min-height: 32px;
    display: inline-flex;
    width: auto;
    font-family: tt-bold;
    font-size: 14px;
    justify-content: center;
    align-items: center;
}

.btn>span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 6px;
}

.btn>span span:nth-child(1) {
    margin-right: 4px;
}

.btn svg {
    padding-top: 2px;
}

.container-wrapper {
    max-width: 768px;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 40px 0px;
    padding: 8px;
    max-width: 100%;
}

.card {
    display: flex;
    /* width: 100%; */
    min-width: 335px;
    flex-flow: row;
    padding: 16px;
}

.img-sec {
    margin-right: 32px;
}

.img-sec img {
    width: 88px;
    height: 88px
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 250px;
}

h2,
h3 {
    padding: 0;
    margin: 0;
}

.card h2 {
    font-size: 32px;
    font-weight: 700px;
    line-height: 40px;
    letter-spacing: -0.04ch;
    color: rgb(25, 25, 25);
    font-family: tt-bold;
    /* font-family: tt-medium; */
}

.card h3 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 0 ch;
    color: rgb(25, 25, 25);
    font-family: tt-medium;

}

.card-btn {
    border: none;
    margin: 12px 0 0;
    display: flex;
    text-align: left;
    display: inline;
    width: 208px;
    background: transparent;
    /* justify-content: flex-start; */
    font-family: tt-medium;
    padding: 0;
}

.card-btn span {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.04ch;
    color: #eb1700;
    font-family: tt-bold;
}

.sections {
    display: flex;
    padding: 20px;
    align-items: center;
    flex-direction: column;
    min-width: 90%;
    box-sizing: border-box;

}

.card-btn svg {
    margin-left: 4px;
}

.image {
    width: 100%;

}

.image img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.content-area {
    display: flex;
    flex-direction: column;
}

.scroll-container h2 {
    padding: 0px 40px;
}

.sections .content-area h2 {
    padding: 0
}

.content-area h2,
.to-dos,
.head- {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.01ch;
    color: #000;
    font-family: tt-bold;
    margin-top: 20px;
    /* max-width: 90%; */
}

.small- {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0ch;
    font-family: tt-bold;
    margin-top: 10px;
}

.para {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0ch;
    font-family: tt-medium;
    margin-top: 10px;

}

.locate {
    margin-top: 20px;
    min-height: 32px;
    border-radius: 24px;
    line-height: 16px;
    letter-spacing: 0ch;
    background: #eb1700;
    display: inline-flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    opacity: 1;
    font-family: tt-bold;
    width: auto;
}

.locate span {
    padding: 0px 12px;
    font-size: 14px;
}

.section-color-bg {
    background-color: rgb(254, 241, 238);
    /* padding-top: 320px; */
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 90%;
    align-items: center;
    padding-top: 320px;
    margin-top: -300px;
    box-sizing: border-box;
}

.banner-mid {
    background: url('Assets/grocery_desktop.avif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 350px;
    /* z-index: -1 */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(30, 30, 30, 0.6);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff
}

.overlay .content-area {
    text-align: center;
    max-width: 100%;
    color: #fff
}

.grocery-heading {
    max-width: 100% !important;
    color: #fff !important;
}

.to-dos,
.head- {
    display: flex;
    justify-content: center;
    background-color: rgb(254, 241, 238);
    padding: 40px 20px 20px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.to-dos span {
    width: 90%
}

.gift {
    margin-top: 0px;
}

.scroll-container {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 100%;
    background-color: rgb(254, 241, 238);
    box-sizing: border-box;
}

.scroll-container::-webkit-scrollbar {
    display: none;
}

.content-scroll {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 80.6%;
    align-items: center;
    /* margin-left: 5%; */
    /* margin-right: -10%; */
    text-align: center;
    margin-right: -19px;
}


.card1 {
    margin-left: 5%;
}

.head- {
    background: #fff;
}

.footer-container {
    width: 100vw;
    background-color: rgb(25, 25, 25);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.ftr {
    width: 1184px
}

footer {
    max-width: 1160px;
    padding: 0px 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.sec1 {
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.left,
.right {
    flex: 1 1 0%;
    text-align: center;
}

.sec1 h2,
.popular-category h2,
.apps h2 {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    letter-spacing: 0ch;
    color: #fff;
    font-family: tt-medium;
}

.footer-items {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 12px
}

.footer-items span {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0ch;
    color: rgb(196, 196, 196);
    margin-top: 8px;
    display: block;
    font-family: tt-medium;


}

.popular-category,
.apps {
    padding-top: 32px;
    padding-bottom: 32px;
    flex: 1 1 0%;
    text-align: center;
}

.apps-store {
    /* padding-top: 32px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 0%
}

.apps-store a {
    opacity: 0.7
}

.apps-store a:nth-child(2) {
    margin-top: 12px;
}

.apps-store div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    border-radius: 8px;
    background: rgb(73, 73, 73);
}

.group {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
}

.footer-btm {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icons a {
    opacity: 0.7
}

.social-icons a:nth-child(2) {
    margin-left: 8px;
    margin-right: 8px;
}

.language {
    padding: 12px;
}

.inner-div {
    width: 150px;
    min-height: 32px;
    display: flex;
    background: #fff;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0ch;
    font-weight: 500;
    color: rgb(25, 25, 25);
    border-radius: 10000px;
    padding: 4px 12px;
    box-shadow: rgb(247, 247, 247) 0px 0px 0px 1px inset;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.glob {
    margin-right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select {
    width: 100%;
    padding-top: 3px;
}

select {
    width: 100%;
    border: none;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0ch;
    font-weight: 500;
    color: rgb(25, 25, 25);
    font-family: tt-medium;

}

.down-arrow {
    height: 24px;
    width: 24px;
    position: absolute;
    right: 12px;
    top: 6px;
    background: white;
}

.links {
    margin-top: 12px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.links span {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0ch;
    color: rgb(196, 196, 196);
    font-family: tt-regular;
    margin-left: 16px;
}

.title {
    margin-top: 0px;
}

.tab {
    display: none;
}

.location {
    display: none;
}

.tab-image {
    display: none;
}

@media screen and (min-width:425px) {
    .get-app-cont {
        max-width: 400px;
        margin: 0 auto
    }

    .container {
        padding: 8px 10px 8px 12px
    }

    .img-sec {
        margin-right: 31.5px;
    }

    .to-dos {
        padding: 40px 42px 20px;
    }


}

@media screen and (min-width:768px) {
    .banner {
        box-sizing: border-box;
        height: 650px;
        padding: 0 8px;
        background: url('Assets/hero_mobile.avif');
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 100%;
        z-index: 1;
        justify-content: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        align-items: center;
        position: relative
    }

    /* .img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0

    }

    .img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    } */
    .menu-itm {
        gap: 8px;
        padding-right: 24px;
        position: relative;
    }

    .menu-itm .menu-btn {
        font-size: 18px;
        height: 40px
    }

    .mobile {
        display: none;
    }

    .tab {
        display: flex;
        position: absolute;
        left: 50%;
        right: 50%
    }

    .logo {
        margin-top: 8px;
    }

    .banner-txt {
        margin-top: 66px;
    }

    .input-cont {
        width: 302px
    }

    .search-container {
        padding: 16px 8px 16px 20px;
        border-radius: 32px;
        /* margin-right: 12px; */
        box-sizing: border-box;
    }

    .search-container .location {
        margin-right: 10px;
    }

    .search-container .arrow {
        margin-right: 8px
    }

    .search-icon {
        display: none;
    }

    .location {
        display: flex;
    }

    .get-app-cont {
        display: none;
    }

    .container {
        align-items: center;
    }

    .img-sec img {
        width: 124px;
        height: 124px;
    }

    .img-sec {
        margin-right: 64px;
    }

    .container {
        padding: 8px 10px 8px 9px;
        margin: 32px 0px 32px
    }

    .sections {
        flex-direction: row-reverse;
        gap: 60px;
        max-width: 1184px;
        /* height: 505px */
    }

    .content-area {
        max-width: 400px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .content-area h2 {
        line-height: 44px;
        font-size: 40px;
        font-weight: 700;
        letter-spacing: -0.02ch;
        margin-top: 25px;
        max-width: 90%;
    }

    .small- {
        line-height: 32px;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: -0.01ch;
        margin-top: 20px;
    }

    .para {
        line-height: 22px;
        font-size: 16px;
        font-weight: 500;
    }

    .locate {
        height: 40px;
        margin-top: 30px;
    }

    .locate span {
        /* padding: 0px 12px; */
        font-size: 16px;
        line-height: 18px;
        font-weight: 700;
    }

    .image {
        width: 100%;
        height: 100%
    }

    .image img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

    .section-color-bg {
        margin-top: -55px;
        flex-direction: row;
        gap: 60px;
        max-width: 1184px;
        padding-top: 80px;
        padding-bottom: 25px;
    }

    .tab-image {
        display: flex;
    }

    .mob-image {
        display: none;
    }

    .section-color-bg .para {
        margin-top: 20px;
    }

    .banner-mid {
        height: 600px
    }

    .banner-mid .content-area {
        max-width: 550px;
    }

    .banner-mid h2 {
        max-width: 90%;
        padding: 0 17px
    }

    .grocery-heading {
        margin-top: 20px !important
    }

    .sec3 {
        padding-top: 60px;
    }

    .sec3 .para {
        margin-top: 20px;
    }

    .sec3 h2 {
        margin-top: 20px;
    }

    .gift {
        margin-top: -37px;
        line-height: 44px;
        font-size: 40px;
        font-weight: 700;
        letter-spacing: -0.02ch;
        text-align: center;
        padding: 60px 102px 40px;

    }

    .gift span {
        max-width: 550px;
    }

    .scroll-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        box-sizing: border-box;
    }

    .content-scroll {
        max-width: 50%;
        min-width: 50%;
        box-sizing: border-box;
        margin-right: 0;
    }

    .card1 {
        margin-left: 0;
    }

    .content-scroll .image {
        height: auto
    }
}