@font-face {
    font-family: 'regular';
    src: url('Fonts/Inter-Regular.woff2')
}

@font-face {
    font-family: 'semi-bold';
    src: url('Fonts/Inter-SemiBold.woff2')
}

@font-face {
    font-family: 'roboto-regular';
    src: url('Fonts/roboto-regular.woff2')
}

body {
    margin: 0;
    padding: 0;
}

header {
    height: 56px;
    width: 100%;
    background: #2874f0;
    position: fixed;
    /* display: flex; */
    z-index: 10;
    top: 0;
    left: 0
}

.header-item {
    display: flex;
    color: #fff;
    justify-content: space-between;
    font-weight: 600;
    align-items: center;
    height: 100%;
}

.logo-lite {
    width: 23px
}

/*Desktop*/
.explore {
    color: #f0f0f0;
    font-style: italic;
    font-size: 11px;
    margin-top: -3px;
    display: none;
}

.explore img {
    width: 100%;
    overflow: hidden;
}

.plus {
    color: #ffe500;
    font-size: 11px;
}

.logos {
    display: none;
    /* flex-direction: column; */
}

.logo-lite .searchbar-container {
    min-width: 304px;
    width: calc(100%-540px);
    margin: 0 auto 0 12px;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    display: none;
}

.searchbar {
    /* display: inline-block; */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .23);
    width: 100%;
    height: 36px;
    max-width: 564px;
    position: relative;
    display: none;
}

/* .searchbar input {
    padding: 0 5px;
    border-radius: 2px 0 0 2px;
    border: 0;
    outline: 0 none;
    font-size: 14px;
    height: 36px;
    width: 100%;
} */

.container-search {
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
    background: #fff;
}

.input-box {
    width: 100%;
    display: inline-block;
    position: relative
}

.input-box input {
    padding: 0 5px;
    border-radius: 2px 0 0 2px;
    border: 0;
    outline: 0 none;
    font-size: 14px;
    height: 36px;
    width: 100%
}

.search-icon {
    border: 1px solid #fff;
    background: #fff;
    height: 36px;
    width: 44px;
    border-radius: 2px;
    cursor: pointer;
    padding: 4px 12px 0px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon img {
    width: 20px;
    height: 20px;
    /* z-index: 11; */
}

.fixed {
    position: fixed;
    top: 53px;
    height: 3px;
    background-color: #2874f0;
    box-shadow: 0 2px 2.5px 0 rgba(0, 0, 0, .3);
}

.header-menu {
    display: none;
}

nav {
    margin-top: 70px;
    width: 100%;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .16);
    height: 40px;
}

.nav-itm {
    max-width: 1248px;
    height: 40px;
    margin: auto;
    display: none;
    justify-content: space-between;
    color: #000;
}

.container {
    color: #212121;
    position: relative;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

aside {
    grid-column: 1/2;
    display: none;
}

main {
    grid-column: 2/7
}

.top-nav {
    display: none;
}