:root{
    --primary-color:#717171;
    --font-weight:400;
    --header-color:#FF385C;
--secondary-color: #DDDDDD;
}
body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #222
}
/* h3{
    font-size: 1.2em
} */
body{
    margin: 0;
}
/* #wrapper{
margin-top:100px;
box-sizing: border-box;
      
} */
h3{
    font-size: 1.4em;
}
h2{
    font-size: 1.7em;
}
header{
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 100;
    /* padding:10px; */
    background: #fff;
    margin-bottom: 30px;
    /* position:sticky; */
    /* top:0 */
}

#header-items{
    padding: 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    /* position:fixed; */
    margin-bottom: 10px;
    width:100%;
    box-sizing: border-box;
    /* color:#0000 */
}
header:before{
    content:"";
    display: block;
    clear:both
}
.topbar-left{
    width:33.3%;
    display: none;
}
.topbar-rightsec{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* width:33.3%; */
    /* padding: 0 20px;    */
   /* align-items: flex-end; */
}
.topbar-rightsec div{
margin-right: 0
}
.topbar{
    margin-top: 100px;
}
a{
    text-decoration: none;
    color:rgb(0 0 0 / 96%);
}
li{
    list-style-type: none;
}
input[type="radio"]{
width:7px
}
.outline{
/* padding: 10px; */
border-radius: 100px;
border:1px solid var(--secondary-color);
box-shadow: 0 1px 2px rgba(0,0,0,0.1), 0 4px 12px rgba(0,0,0,0.1);
background: #FFFFFF;
text-align: center;
display: flex;
justify-content: flex-start;
align-items:flex-start;
padding:10px;
width:78%;
max-width:480px;
max-height: 47px;
margin-right: 10px;
/* margin: 10px 10px 10px 0; */

}
.searchbar{
    width:20%;
    max-width: 40px;
    padding-top: 5px;
    margin-right: 10px;;
}
.items{
    width:80%;
    text-align: left;
    align-items: center;
}
.items a:nth-child(1){
    font-size:1.15em;
   }
.item-down{
    font-size: 0.9em;
    color: var(--primary-color);
}
.items span{
    margin:0px 3px
}
.searchbar img{
    width:50%
}
.filter-div{
    display: block;
    width: 42px;
    height:42px;
    border-radius: 50%;
    border:1px solid var(--secondary-color);
}
.filter-div img{
    padding:25%;
    width:20px
}
li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon-container{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    /* position:-webkit-sticky; */
    position:sticky;
    top:0

}
.icon-section{
    box-sizing: border-box;
    overflow-x: auto;
    white-space:nowrap;
    margin-top:80px;
    grid-column: span 4;
    /* top:70px; */
    z-index: 2;
    background: #ffffff;
}
.icon-container li{

    flex: 0 0 auto;
    padding:10px;
    margin-right: 10px;
    opacity: 0.6;
    background: #fff;
}
.icon-container span{
    text-align: center;
    margin-top: 15px;
}
#icon-section:-webkit-scrollbar{
    display: none;
}
.icon-container img{
    width:30px;
    height:30px;   
}
#places{
    /* margin-top: 80px; */
    z-index: -1;
}
.grid{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    margin: 0 auto;
    grid-gap: 20px;
    padding:20px; 
   }
#taxes{
    border:1px solid var(--secondary-color);
    padding: 4px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
.right-tax{
        grid-column: span 4;
    }
#taxes h4{
    grid-column: 1/4;
}
#taxes div{
    grid-column: 4/5;
}
.btn-holder{
    width:46px;
    height:30px;
    background:var(--secondary-color);
    border-radius: 42%;
    padding: 2px;
    }
.btn{
    width:30px;
    height:30px;
    border-radius: 50%;
    background: #fff;
    }
.img-blocks{
    grid-column: span 4;
}
.grid .img-grid{
    overflow: auto;
    white-space: nowrap;
    object-fit: cover;
    box-sizing: border-box;
    border-radius: 20px;
    width:100%; 
    margin-bottom: 0;
    }

.image{
    display:inline-block;
    box-sizing: border-box;
     border-radius: 0; 
     position: relative; 
     width:100%;   
    }
.image div img{
    width: 100%;
    height: 100%    
}
.carousal-btn{
    position:absolute;
    bottom:20px;
    left:45%
}
#like-btn{
    position: absolute;
    right:15px;
    top:15px;
    z-index: 1;
}
#like-btn img{
    width:25px

}
.place-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
.place-rating p{
    font-size: 1.2em;
    font-weight: 600;
    /* color:#222 */
}
.place-det{
    font-size: 1.15em;
    line-height: 2.5px;
    color:var(--primary-color)
}
.amount{
    font-weight: 600;
    padding-right: 5px;
    color:#222
}
.night{
    color:#222;
    font-weight: 400;
}
.rating img{
    width:18px;   
} 

#explore-sec{
    grid-column: 1/5;
    text-align: center;
    margin-bottom: 30px;
    }
#explore-sec button{
    background: #222;
    width:140px;
    height:50px;
    color:#fff;
    font-size: 1.2em;
    border-radius: 10px;
}
footer{
    background: #dddddd42;
    padding:30px 15px 10px 15px
}
footer .icon-section,footer .icon-container li{
    background:transparent;
}
.menu{
    font-size: 1.2em;
    background:transparent;
    /* margin-right: 20px; */
}

.locateus p:first-child{
    font-size: 1.2em;
    font-weight: 600;
    color:#222
}
.footer-details{
border-top: 1px solid var(--secondary-color);
grid-column: 1/5;
}
.footer-details p{
    font-size: 1.15em;
    color:var(--primary-color)   
}
.footer-details p{
    font-size: 1.15em;
    color: #222222;
}
.footer-details p:first-child,.footer-details .language{
    font-size: 1.2em;
    font-weight: 600;
    color: #222;
}
/*--------------------------------------------------------------*/
.foot-grid{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 20px;
}
 .language i{
    margin: 0px 10px;   
 }
 .language img{
    width:15px;
    margin-right: 10px;
    align-items: center;
    /* padding-top: 3px; */
 }
 .footer-details span{
    padding:0 10px
 }
 .icons-bottom{
    position: fixed;
    bottom:0;
    /* left:23%; */
    background-color: #FFFFFF;
    width:100%
}
 .icon-div{
    display: flex;
    justify-content: center;
    align-items: center;
    
 }
 .icon-div div{
    text-align: center;
    padding:18px;
    color:#717171;
    font-size: 1em;
    font-weight: 600;
 }
 .icons-bottom img{
    width:21px;
    margin: 0 auto;
 }
 .map{
    background: #222;
    padding: 10px;
    width:80px;
    height:20px;
    margin: 30px auto;
    text-align: center;
    border-radius: 35%;
    color:#FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom:11%;
    /* display:none */

 }
 .map span{
  font-size: 1em; 
  margin-right: 10px;
  display: inline-block;
 }
 .map img{
    width:20px
 }
 .line{
        display:none
 }
/* Fo Tablet view*/
.tab-search{
   background-color:var(--header-color); 
   border-radius: 50%;
   width:30px;
   height:30px;
   display:none
}
.tab-search img{
    width:13px;
    padding: 8px;
}
#logo{
    display: none;
}
.user-det{
    border:1px solid var(--secondary-color);
    padding-top:4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:75px;
    height:40px;
    border-radius: 40%;
    display: none;
}
.user-det img:first-child{
    width:18px;
}

.user-det img:nth-child(2){
    width:30px;
}
.text{
    display: none;
}
/* .filter-sec{
    grid-column: 1/2
}
.right-tax{
    grid-column: 2/5;
} */
.right-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:20px
}
.filter-sec img,.filter-sec p{
    padding: 0 5px;
}
.filter-sec img{
    width:15px;
}
.right-arrow{
    position:absolute;
    right:1px;
    top:40px;
    display:none
}
.right-arrow img{
    width:15px;
}
 .glob-header{
    display: none;
 }
 .filter-sec{
    display:none
 }
 #right-sec{
    margin:0px 10px 10px 10px;
    grid-column: span 4;
}
.link-div{
    text-align: left;
}
 /*Media query*/

 /* Tablet view */

 @media screen and (min-width:550px){
    body{
        font-size: 15px;
    }
    .img-blocks{
        grid-column: span 2;
    }
    .link-div{
        text-align: center;
    }
 }
 @media screen and (min-width:768px){
.mobile-screen{
    display:none
}
#header-items{
    padding: 20px 40px;
    width:100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    /* color:#0000 */
}
.outline{
    padding:10px;
    width:45%;  
    max-width:340px;
    max-height: 40px; 
}
.items a{
    border-right: 1px solid var(--secondary-color);
}
.items br,span{
    display:none
}
/* .items .line{
    display: inline-block;
    width:1px;
    height:3px;
    border: 1px solid var(--secondary-color);
} */
.items a{
    padding:2px
}

.items a,.text{
    font-size: 1.06em;
    color:#222;
}
.addguests{
    color:#717171
   }
.tab-search{
    display: block;
   }
#logo{
    display:block
}
.filter-div{
    display:none
}
.text{
    display: block;
}
.grid{
    grid-gap:20px
}
.user-det{
    display: flex;
}
.icon-section{
    grid-column: 1/3;
}
.icon-section span{
    display:block
}
#right-sec{
    margin:80px 10px 40px 10px;
    grid-column: 3/5;
    font-size: 1em;
    font-weight: 600;
    color: #222;
}
.filter-sec{
    grid-column: 1/2;
    display: block;
}
.right-tax{

    grid-column: 2/4;
}
#taxes{
  margin:0;
  padding:5px 
}
.btn-holder{
    width:35px;
    height:20px
}
.btn{
    width:20px;
    height:20px
}
.glob-header{
    display: block;
}
.right-arrow{
    display:block
}
footer span{
    display:inline
}
.topbar-left{
    display:block;
    width:8%
 }
 .topbar-rightsec{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
    /* width:20%; */
    /* padding: 0 20px; */
 }
 .topbar-rightsec .text,.topbar-rightsec .glob-header{
    margin-right: 20px;
    }
.topbar-rightsec .user-det{
    margin-left: 0;
}
 }